body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 15px;
  background-color: rgb(247, 225, 198);
}
h1 {
  color: #386641;
}
h2 {
  color: #588157;
}
.form-container {
  margin-bottom: 10px;
}
label {
  display: block;
}
input[type="text"] {
  width: 200px;
  padding: 5px;
}
button {
  padding: 5px 10px;
  border-radius: 5px;
}
button:hover {
  background-color: lightgreen;
}
ul {
  list-style-type: none;
}
li {
  border-bottom: 2px solid #386641;
  width: 350px;
}
#removePlant {
  margin-top: 20px;
}
