body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 15px;
  background-color: rgb(247, 225, 198);
}
h1 {
  color: #386641;
}
h2 {
  color: #588157;
}

.form-container {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}
label {
  display: inline-block;
  margin-bottom: 5px;
}
input {
  display: block;
  border: 2px solid #f0f0f0;
  border-radius: 4px;
}
input[type="text"] {
  width: 200px;
  padding: 5px;
}

.form-container i {
  position: absolute;
  top: 30px;
  left: 190px;
  visibility: hidden;
}
.form-container.success i.fa-circle-check {
  visibility: visible;
  color: #2ecc71;
}
.form-container.error i.fa-circle-exclamation {
  visibility: visible;
  color: #e74c3c;
}

.form-container small {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
}
.form-container.error small {
  color: #e74c3c;
  visibility: visible;
}

button {
  padding: 5px 10px;
  border-radius: 5px;
}
button:hover {
  background-color: lightgreen;
}
#removeBtn {
  width: 50px;
  font-size: 13px;
  background-color: #f0f0f0;
  text-align: center;
  margin-top: 10px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
#removeBtn:hover {
  background-color: indianred;
}

.form-container.success input {
  border-color: #2ecc71;
}
.form-container.error input {
  border-color: #e74c3c;
}

ul {
  list-style-type: none;
}
li {
  margin-top: 15px;
  padding-bottom: 15px;
  line-height: 12px;
  border-bottom: 2px solid #386641;
  width: 350px;
}
#removePlant {
  margin-top: 20px;
}
