body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 15px;
  background-color: rgb(247, 225, 198);
}
h1 {
  color: #386641;
}
h2 {
  color: #588157;
}
p {
  font-size: 18px;
  background-color: #386641;
  color: #f0f0f0;
  padding: 10px;
}
.fa-pagelines {
  position: absolute;
  top: 25px;
  left: 220px;
  color: #588157;
  font-size: 40px;
}

.form-container {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}
label {
  display: inline-block;
  margin-bottom: 5px;
}
input {
  display: block;
  border: 2px solid #f0f0f0;
  border-radius: 4px;
}
input[type="text"] {
  width: 200px;
  padding: 5px;
}

button {
  padding: 5px 10px;
  border-radius: 5px;
}
button:hover {
  background-color: lightgreen;
}
#removeBtn {
  width: 50px;
  font-size: 13px;
  background-color: #f0f0f0;
  text-align: center;
  margin-top: 10px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
#removeBtn:hover {
  background-color: indianred;
}

ul {
  list-style-type: none;
}
li {
  margin-top: 15px;
  padding-bottom: 15px;
  line-height: 12px;
  border-bottom: 2px solid #386641;
  width: 350px;
}
#removePlant {
  margin-top: 20px;
}
